[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "CropScapeR"]
	path = CropScapeR
	url = https://github.com/cran/CropScapeR
	shallow = true
	registered = true
[submodule "endoSwitch"]
	path = endoSwitch
	url = https://github.com/cbw1243/endoswitch
	shallow = true
	registered = true
[submodule "rarms"]
	path = rarms
	url = https://github.com/cbw1243/rarms
	shallow = true
	registered = true
[submodule "usdampr"]
	path = usdampr
	url = https://github.com/cbw1243/usdampr
	shallow = true
	registered = true
